# Tarefa 02 Módulo 05

O nosso projeto desta sequência de módulos do curso será um aprofundamento da demonstração sobre classificação de risco de crédito que vimos lá no comecinho. Pois recebemos uma base já montada pra nós. Tenha certeza de que ela passou por um longo processamento até ficar daquele jeito. Neste exercício vamos exercitar o que aprendemos nas ultimas aulas e montar a variável resposta da base do nosso projeto.

#### Marcação de bom e mau
O objetivo da modelagem é classificar o risco de inadimplência, ou como se diz no meio, o risco de *default*. Podemos fazer longas discussões sobre o conceito de *default* com base em estudos e exigências regulatórias, para efeitos deste estudo, um cliente em *default* é aquele que está em 60 dias de atraso ou mais. Então classificaremos os clientes como 'bons' e 'maus' assim:
- **Maus** pagadores: são aqueles que entraram em 'default' (atraso 60 dias ou mais) nos 24 meses seguintes à aquisição do cartão de crédito. 
- **Bons** pagadores: são considerados todos os demais.
- **Excluídos**: Clientes que não adquiriram um cartão de crédito (seja por recusa, seja por desistência) não possuem informações de pagamento, portanto não se pode identificar se são bons ou maus. Há uma longa discussão e literatura sobre *inferência de rejeitados* que está fora do escopo deste exercício.

#### Bases disponíveis
Temos duas bases importantes aqui: uma de propostas, com diversas informações dos vários solicitantes de cartão de crédito, e uma base de pagamentos. A base de pagamentos será utilizada para identificar a ocorrência de *default*. A base de propostas tem diversas informações coletadas no momento da solicitação do crédito (isto é importante: qualquer informação posterior a essa data é impossível de ser coletada na aplicação do modelo e não pode ser utilizada).

As variáveis delas são:

Base de propostas - application_records.csv

| Nome da Variável         | Description                                         | Tipo  |
| ------------------------ |:---------------------------------------------------:| -----:|
| ID| identificador do cliente (chave) |inteiro|
| CODE_GENDER| M = 'Masculino'; F = 'Feminino' |M/F|
| FLAG_OWN_CAR| Y = 'possui'; N = 'não possui' |Y/N|
| FLAG_OWN_REALTY| Y = 'possui'; N = 'não possui' |Y/N|
| CNT_CHILDREN| Quantidade de filhos |inteiro|
| AMT_INCOME_TOTAL| Annual income |inteiro|
| NAME_INCOME_TYPE|Tipo de renda (ex: assaliariado, autônomo etc) | texto |
| NAME_EDUCATION_TYPE| Nível de educação (ex: secundário, superior etc) |texto|
| NAME_FAMILY_STATUS | Estado civil (ex: solteiro, casado etc)| texto |
| NAME_HOUSING_TYPE | tipo de residência (ex: casa/apartamento, com os pais etc) | texto |
| DAYS_BIRTH | Count backwards from current day (0), -1 means yesterday |inteiro|
| DAYS_EMPLOYED | Count backwards from current day (0), -1 means yesterday |inteiro|
| FLAG_MOBIL | Indica se possui celular (1 = sim, 0 = não) |binária|
| FLAG_WORK_PHONE | Indica se possui telefone comercial (1 = sim, 0 = não) |binária|
| FLAG_PHONE | Indica se possui telefone (1 = sim, 0 = não) |binária|
| FLAG_EMAIL | Indica se possui e-mail (1 = sim, 0 = não) |binária|
| OCCUPATION_TYPE | Occupation	 |Qualitativa|
| CNT_FAM_MEMBERS | quantidade de pessoas na residência |inteiro|

Base de pagamentos - pagamentos_largo.csv  

| Nome da Variável         | Description                                         | Tipo  |
| ------------------------ |:---------------------------------------------------:| -----:|
| ID| identificador do cliente (chave) |inteiro|
| mes_00 a mes_24| faixa de atraso mês a mês do cliente <br>0: 1-29 days past due &nbsp;&nbsp;&nbsp;&nbsp; 1: 30-59 days past due <br />2: 60-89 days overdue &nbsp;&nbsp;&nbsp;&nbsp; 3: 90-119 days overdue <br /> 4: 120-149 days overdue &nbsp;&nbsp;&nbsp;&nbsp; 5: more than 150 days <br />C: paid off that month &nbsp;&nbsp;&nbsp;&nbsp; X: No loan for the month |Qualitativa|

#### Construindo a variável resposta
A base de pagamentos está em um formato de 'base larga'. Essa base possui informações de pagamentos do cliente mês a mês a partir do mês de aquisição do crédito (mês 0) até o vigésimo quarto mês após a aquisição do crédito (mês 24). Utilizaremos essa base para determinar se um proponente é considerado 'bom pagador' ou caso apresente atraso representativo, será considerado 'mau pagador'.

#### Base larga vs base longa
A base ser larga significa que há uma linha para cada cliente, e que as informações estarão nas colunas, em contraste com a 'base longa', em que haveria uma linha para cada combinação cliente/mês, uma coluna indicando o cliente, outra indicando o mês, e apenas uma coluna com a informação do atraso.

#### Tarefa 1) Marcar *default* no mês
Faça uma indicadora de se o cliente está em *default* em cada uma das marcações (mes_00 a mes_24). Dica: você pode utilizar o método ```.isin()``` do Pandas. Consulte a [documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.isin.html) caso necessário.

#### Tarefa 2) 'bons' e 'maus' ao longo de todos os 24 meses de desempenho
Marque para cada cliente se ele teve pelo menos um episódio de *default* entre o mês 0 e o mês 24. Dica: o método ```sum()``` pode ajudar. Caso precise, consulte a [documentação](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sum.html) e procure pelo argumento ```axis```, você viu outros métodos que possuem esse argumento também. Tendo o número de meses em default de cada cliente, basta marcar ```True``` para todos aqueles que possuem pelo menos 1 mês em *default* e ```False``` para os demais.

#### Tarefa 3) Marcando proponentes expostos ao risco de crédito
Marcando proponentes que se tornaram tomadores: lembre-se de que clientes que não adquiriram o cartão devem ser desconsiderados. A base de pagamentos possui apenas clientes que adquiriram cartão de crédito, então você pode selecionar somente os clientes da base de propostas que se encontram na base de pagamentos.

#### Tarefa 4) Consolidando as informações
Faça uma junção das informações da base de propostas com a variável de *default* que você acabou de construir. Talvez você consiga realizar a tarefa 3 e tarefa 4 em uma única linha de código ;)

#### Tarefa 5) Verificando
Faça uma contagem dos valores do *default* que você construiu.

In [1]:
import pandas as pd

In [2]:
propostas = pd.read_csv('application_record.csv')
pg = pd.read_csv('pagamentos_largo.csv')

In [3]:
pg.shape

(20937, 26)

In [4]:
pg.value_counts()

ID       mes_0  mes_1  mes_10  mes_11  mes_12  mes_13  mes_14  mes_15  mes_16  mes_17  mes_18  mes_19  mes_2  mes_20  mes_21  mes_22  mes_23  mes_24  mes_3  mes_4  mes_5  mes_6  mes_7  mes_8  mes_9
5001719  0      0      C       C       C       C       C       C       C       C       C       C       C      C       C       C       C       C       C      C      C      C      C      C      C        1
5095424  0      0      C       C       C       C       C       C       C       C       C       C       0      C       C       C       C       C       0      C      C      C      C      C      C        1
5095383  0      0      C       C       C       C       C       C       C       C       C       C       0      C       C       C       C       C       0      0      C      C      C      C      C        1
5095387  0      0      0       1       0       1       0       0       0       0       0       0       1      1       0       0       0       0       0      0      0      0      0      0      0        1
5095390  0      0      C       C       C       C       C       C       C       C       C       C       0      C       C       C       C       C       0      0      0      0      0      0      0        1
                                                                                                                                                                                                        ..
5038637  0      0      0       0       0       0       0       C       C       C       C       C       0      C       C       C       C       C       0      0      0      0      0      0      0        1
5038644  0      0      C       C       C       C       C       C       C       C       C       C       0      C       C       C       C       C       0      0      0      0      0      0      0        1
5038647  0      0      0       0       C       C       C       C       C       C       C       C       0      C       C       C       C       C       0      0      0      0      0      0      0        1
5038648  0      0      0       0       C       C       C       C       C       C       C       C       0      C       C       C       C       C       0      0      0      0      0      0      0        1
5150487  C      C      C       C       C       C       C       C       C       C       C       C       C      C       C       C       C       C       C      C      C      C      C      C      C        1
Length: 12267, dtype: int64

#### Tarefa 1) Marcar *default* no mês
Faça uma indicadora de se o cliente está em *default* em cada uma das marcações (mes_00 a mes_24). Dica: você pode utilizar o método ```.isin()``` do Pandas. Consulte a [documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.isin.html) caso necessário.

In [5]:
# 1) Seu código aqui
pg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20937 entries, 0 to 20936
Data columns (total 26 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      20937 non-null  int64
 1   mes_0   20937 non-null  object
 2   mes_1   19216 non-null  object
 3   mes_10  17455 non-null  object
 4   mes_11  16972 non-null  object
 5   mes_12  16943 non-null  object
 6   mes_13  16540 non-null  object
 7   mes_14  16525 non-null  object
 8   mes_15  16155 non-null  object
 9   mes_16  16093 non-null  object
 10  mes_17  15911 non-null  object
 11  mes_18  15630 non-null  object
 12  mes_19  15336 non-null  object
 13  mes_2   19348 non-null  object
 14  mes_20  15184 non-null  object
 15  mes_21  15076 non-null  object
 16  mes_22  14797 non-null  object
 17  mes_23  14598 non-null  object
 18  mes_24  14433 non-null  object
 19  mes_3   18925 non-null  object
 20  mes_4   18802 non-null  object
 21  mes_5   18512 non-null  object
 22  mes_6   18214 non-null  object
 23  mes_7   17762 non-null  object
 24  mes_8   17741 non-null  object
 25  mes_9   17510 non-null  object
dtypes: int64(1), object(25)
memory usage: 4.2+ MB

In [6]:
pg.isin(['2','3','4','5']).sum()

ID          0
mes_0       7
mes_1      18
mes_10    102
mes_11     90
mes_12     94
mes_13    100
mes_14     85
mes_15     71
mes_16     76
mes_17     73
mes_18     58
mes_19     54
mes_2      48
mes_20     57
mes_21     66
mes_22     60
mes_23     65
mes_24     61
mes_3      59
mes_4      58
mes_5      76
mes_6      80
mes_7     102
mes_8      91
mes_9     109
dtype: int64

In [7]:
pg_default = pg.isin(['2','3','4','5']) #localizando apenas ID's que tiveram faixa de atraso de 2 à 5 (conforme tabela)
pg_default

,ID,mes_0,mes_1,mes_10,mes_11,mes_12,mes_13,mes_14,mes_15,mes_16,...,mes_22,mes_23,mes_24,mes_3,mes_4,mes_5,mes_6,mes_7,mes_8,mes_9
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20932,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
20933,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
20934,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
20935,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
20936,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

***

#### Tarefa 2) 'bons' e 'maus' ao longo de todos os 24 meses de desempenho
Marque para cada cliente se ele teve pelo menos um episódio de *default* entre o mês 0 e o mês 24. Dica: o método ```sum()``` pode ajudar. Caso precise, consulte a [documentação](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sum.html) e procure pelo argumento ```axis```, você viu outros métodos que possuem esse argumento também. Tendo o número de meses em default de cada cliente, basta marcar ```True``` para todos aqueles que possuem pelo menos 1 mês em *default* e ```False``` para os demais.

In [8]:
# 2) Seu código aqui
pg_default.loc[pg_default.any(True), 'Default'] = 'Mal pagador' #localizando clientes com faixa de atraso de 2 à 5 (conforme tabela)
pg_default # e incluindo coluna "Default" para os identificar.

C:\Users\rafaf\AppData\Local\Temp\ipykernel_5028\3034069376.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.any and Series.any will be keyword-only.
  pg_default.loc[pg_default.any(True), 'Default'] = 'Mal pagador' #localizando clientes com faixa de atraso de 2 à 5 (conforme tabela)

,ID,mes_0,mes_1,mes_10,mes_11,mes_12,mes_13,mes_14,mes_15,mes_16,...,mes_23,mes_24,mes_3,mes_4,mes_5,mes_6,mes_7,mes_8,mes_9,Default
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,NaN
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,NaN
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,NaN
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,NaN
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20932,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,NaN
20933,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,NaN
20934,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,NaN
20935,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,NaN
20936,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,NaN

In [9]:
id_mal_pagador = pg_default.loc[pg_default['Default'] == 'Mal pagador']
id_mal_pagador

,ID,mes_0,mes_1,mes_10,mes_11,mes_12,mes_13,mes_14,mes_15,mes_16,...,mes_23,mes_24,mes_3,mes_4,mes_5,mes_6,mes_7,mes_8,mes_9,Default
130,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,True,Mal pagador
177,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,Mal pagador
303,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,Mal pagador
355,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,Mal pagador
556,False,False,True,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,Mal pagador
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20523,False,False,False,True,True,True,False,False,False,False,...,False,False,True,True,True,True,True,True,True,Mal pagador
20734,False,False,False,False,False,False,True,True,True,False,...,False,False,False,False,False,False,False,True,False,Mal pagador
20744,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,Mal pagador
20745,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,Mal pagador
20776,False,False,False,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,True,True,Mal pagador

In [10]:
pg.loc[556] # comprovando que ID '556' obteve faixa de atraso maior que 2 (60 dias em diante)

ID        5003267
mes_0           1
mes_1           2
mes_10          C
mes_11          C
mes_12          C
mes_13          C
mes_14          C
mes_15          C
mes_16          C
mes_17          C
mes_18          C
mes_19          C
mes_2           3
mes_20          C
mes_21          C
mes_22          C
mes_23          C
mes_24          C
mes_3           3
mes_4           1
mes_5           1
mes_6           C
mes_7           C
mes_8           C
mes_9           C
Name: 556, dtype: object

***

#### Tarefa 3) Marcando proponentes expostos ao risco de crédito
Marcando proponentes que se tornaram tomadores: lembre-se de que clientes que não adquiriram o cartão devem ser desconsiderados. A base de pagamentos possui apenas clientes que adquiriram cartão de crédito, então você pode selecionar somente os clientes da base de propostas que se encontram na base de pagamentos.

#### Tarefa 4) Consolidando as informações
Faça uma junção das informações da base de propostas com a variável de *default* que você acabou de construir. Talvez você consiga realizar a tarefa 3 e tarefa 4 em uma única linha de código.

#### Tarefa 5) Verificando
Faça uma contagem dos valores do *default* que você construiu.

In [26]:
# 3-4-5) Seu código aqui
id_inadimplente = propostas.merge(id_mal_pagador, on= 'ID', how= 'right') # juntando tabelas po ID de mal pagador
id_inadimplente #apenas ID's com faixa de pagamento acima de 60 dias.

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,...,mes_23,mes_24,mes_3,mes_4,mes_5,mes_6,mes_7,mes_8,mes_9,Default
0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,False,False,False,False,True,True,True,True,True,Mal pagador
1,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,False,Mal pagador
2,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,True,Mal pagador
3,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,False,False,False,False,False,False,True,False,False,Mal pagador
4,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,False,False,True,False,False,False,False,False,False,Mal pagador
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,False,False,True,True,True,True,True,True,True,Mal pagador
427,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,False,False,False,False,False,False,False,True,False,Mal pagador
428,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,False,Mal pagador
429,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,False,Mal pagador
430,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,False,False,False,False,False,False,False,True,True,Mal pagador

In [27]:
id_inadimplente["Default"].value_counts() #total de possives inadimplentes.

Mal pagador    431
Name: Default, dtype: int64

***